body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #003300;
}
canvas {
  height: 80%;
  margin: 10px;
  border-style: dotted;
  background-color: #00b300;
  box-shadow: black 20px 10px 30px;

}
h1 {
  margin-bottom: 50px;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  background-color: #c4ff4d;
  border-radius: 10%;
  padding: 10px;

}
.container {

}
.start {
  border: none;
  height: 120px;
  width: 120px;
  padding: 10px;
  border-radius: 10%;
  align-items: center;
  background-color: #c4ff4d ;
}
